.receipt {
  width: 14rem;
  height: 16.5rem;
  min-width: 12rem;
  border: 1px solid black;
  margin: 1rem;
  text-align: center;
  position: relative;
}

.receipt__img {
  margin: auto;
  margin-top: 10px;
  width: 13rem;
  height: 11rem;
}
