.search__div {
  margin-bottom: 1rem;
  display: flex;
}

.search__form {
  margin: auto;
  display: flex;
}

.search__form > * {
  margin-left: 1rem;
}

.datesPicker {
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5%;
}

.container {
  position: relative;
  width: 12%;
}

.searchImg {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  z-index: 1;
}

.searchImg:hover {
  transform: scale(1.1);
}
