.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
}

.logo {
  width: 100px;
  background-color: white;
  margin: 0 10px 0 10px;
}

.yt-logo {
  width: 100px;
  height: 100px;
}

.searchBox {
  width: 200px;
  border: 1px solid grey;
  height: 30px;
  margin: 30px 10px 0 10px;
  display: flex;
}

.search {
  border: none;
  font-size: 18px;
  text-align: inherit;
  width: 100%;
  line-height: 25px;
  box-shadow: none;
}

.searchBtn {
  color: rgb(143, 143, 143);
  background-color: rgb(199, 199, 199);
  width: 50px;
  text-align: center;
  margin-top: 2px;
}
